@using TravelTripProje.Models.Siniflar
@model List<Blog>

<div class="con-bot">
    @foreach (var item in Model)
    {
        <div class="left">
            <div class="bot-left">
                @*<li><img src="@item.BlogImage" alt="" style="width:250px; height:200px"></li>*@
                <img src="@item.BlogImage" style="width:300px; height:160px" />
            </div>
            <div class="left-text">
                <h4>@item.Baslik</h4>
                <span style="font-size: 12px; color: gray;">@item.Tarih.ToShortDateString()</span>
                <p>@item.Aciklama.Substring(0, 200)...</p>
                <p><a href="/Blog/BlogDetay/@item.Id"><span class="read">Devamını Oku >></span></a></p>
            </div>
        </div>
    }


    @Html.Action("Partial2","Default")
    @*<div class="right">
            <div class="bot-left">
                <img src="~/web/images/pic2.jpg" />
            </div>
            <div class="left-text">
                <h4>smfkefmleksfmes</h4>
                <span class="doller">$119.45</span>
                <p>fksfjenfksejfnksfnjsef</p>
                <p><a href="#"><span class="read">Read More>></span></a></p>
            </div>
        </div>*@
    <div class="clear"></div>
</div>