@*@using TravelTripProje.Models.Siniflar
    @model List<Blog>*@
@model TravelTripProje.Models.Siniflar.BlogYorum
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <!--end slider -->

</head>
<body>
    <!---header---->
    <div class="header">
        <div class="container">
            <!---start-top-nav---->
            <div class="clearfix"></div>
            @*-//End-top-nav--*@
        </div>
    </div>
    <!--/header-->
    <div class="single">
        <div class="container">
            <div class="col-md-8 single-main">

                @foreach (var item in Model.Deger1)
                {
                    <div class="single-grid">
                        <img src="@item.BlogImage" alt="" style="margin-bottom: 20px; width: 800px; height: 400px;" />
                        <br />
                        <a href="/Blog/BlogDetay/@item.Id">@item.Baslik</a>
                        <p>
                            @item.Aciklama.Substring(0, 563)...
                        </p>
                        <p>Yayınlanma Tarihi : @item.Tarih.ToShortDateString() </p>
                        <br />
                    </div>
                }

            </div>

            <div class="col-md-4 side-content">
                <div class="recent">
                    <h3><strong> SON EKLENEN BLOGLAR </strong></h3>
                    @foreach (var item in Model.Deger3)
                    {
                        <ul>
                            <li style="margin-bottom:5px"><a href="/Blog/BlogDetay/@item.Id"><strong> @item.Baslik</strong></a></li>
                            <img src="@item.BlogImage" alt="" width="200" height="100" />
                            <li>
                                <span style="font-size: 12px; color: gray;">Tarih: @item.Tarih.ToShortDateString()</span>
                            </li>
                        </ul>
                        <br />
                    }

                </div>
                <div class="comments">
                    <h3><strong> SON YORUMLAR </strong></h3>
                    @foreach (var item in Model.Deger4)
                    {
                        <ul class="comment-list">
                            <li>
                                <img src="~/web2/images/avatar.png" class="img-responsive" alt="">
                                <div class="desc">
                                    <p> <strong> @item.KullaniciAdi : </strong> @item.Yorum</p>
                                </div>
                            </li>
                            <li><a href="/Blog/BlogDetay/@item.BlogId">@item.Blog.Baslik</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    }

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---->
</body>
</html>

